@model WebTaskList.Domain.Models.User

@{ @*#line 2 "C:\Users\Mozzey\GrandCircus\Capstones\WebTaskList\WebTaskList\WebTaskList\Views\Users\Login.cshtml"
                /**/*@

                ViewBag.Title = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-5">Login</h1>


@using (Html.BeginForm("StoreLogin", "UserTasks", FormMethod.Post, new { @name = "userLogIn", @class = "col-md-offset-5" }))
{
    @Html.ValidationSummary(true)
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => Model.Email, new { @class = "moveInRight" })
            @Html.TextBoxFor(model => Model.Email, new { @class = "form-control moveInLeft", @placeholder = "First Name" })
        </div>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(user => user.Password, new { @class = "moveInRight" })
            @Html.TextBoxFor(user => user.Password, new { @class = "form-control moveInLeft", @placeholder = "Last Name" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
</div>
        }
    