@model WebTaskList.Domain.Models.User

@{ @*#line 2 "C:\Users\Mozzey\GrandCircus\Capstones\WebTaskList\WebTaskList\WebTaskList\Views\Users\Login.cshtml"
                /**/*@

                ViewBag.Title = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 15%;">
            <h1 class="col-md-offset-5 moveInLeft">Login</h1>
        </div>
        
    </div>
    
</div>
<br />


<div class="container">


    @using (Html.BeginForm("StoreLogin", "UserTasks", FormMethod.Post, new { @name = "userLogIn" }))
    {
        @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-offset-4 col-md-3">
                    @Html.LabelFor(model => Model.Email, new { @class = "moveInRight" })
                    @Html.TextBoxFor(model => Model.Email, new { @class = "form-control moveInLeft", @placeholder = "Email" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-offset-4 col-md-3">
                    @Html.LabelFor(user => user.Password, new { @class = "moveInRight" })
                    @Html.TextBoxFor(user => user.Password, new { @class = "form-control moveInLeft", @placeholder = "Password" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-5">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </div>
    }
</div>    